= javascript_include_tag 'mingp-0.1'
= render :partial => 'layouts/div_content',
         :locals => {:partial => 'main/article',
                     :objects => @articles,
                     :url => "#{home_path}.js"}