= render :partial => 'layouts/content',
         :locals => {:partial => 'account/admin/users/user',
                     :objects => @users,
                     :page => params[:page],
                     :total_page => @total_page}