.form-horizontal
  %section
    %fieldset
      %legend= "#{t('notices.label')}"
    .notices-list
      = render :partial => 'layouts/div_content',
               :locals => {:partial => 'account/notices/notice',
                           :objects => @notices,
                           :url => "#{home_path}.js"}