/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require bootstrap-responsive.min
 *= require todc-bootstrap
 *= require messenger
 *= require messenger-theme-air
 */

body {
    background-image: url(/assets/bgnoise_lg.png);
}

.box {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #DDDDDD;
    margin: 100px 0px 100px;
}

section {
    overflow: hidden;
    padding: 14px;
}

.gen-form-actions {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 19px 100px 20px;
}

.footer {
    padding: 14px 15px 15px;
    margin-bottom: 0px;
    background-color: rgb(245, 245, 245);
    border-top: 1px solid rgb(221, 221, 221);
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0px 1px 0px rgb(255, 255, 255) inset;
    text-align: center;
}

.gen-sidebar-header {
    color: #111111;
    text-shadow: 0px 1px 0px #cccccc;
}

.gen-sidebar-lien {
    margin: 10px;
}

.gen-iframe {
    border-width: 0px;
    width: 99%;
    height: 99%;
}

.gen-sidebar {
    background-color: white;
    border-radius: 3px;
    margin-top: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 3px #cccccc;
    -moz-box-shadow: 0px 0px 3px #cccccc;;
}

.gen-portrait {
    width: 48px;
    height: 48px;
}

.spin {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

.gen-sidebar .icon-chevron-right {
    float: right;
    margin-right: -6px;
    opacity: 0.25;
}
.gen-sidebar .active .icon-chevron-right {
    float: right;
    margin-right: -6px;
    opacity: 1;
}

.search-bar {
    position: relative;
}

.search-bar #search-icon {
    position: absolute;
    right: 10px;
    top: 5px;
}

.search-bar .disable {
    opacity: 0.25;
}

.touch-able {
    cursor:pointer;
}

/*文章部分*/
.article {
    padding: 20px;
    border: 1px solid rgb(200,200,200);
    border-radius: 3px;
    background-color: #ffffff;
}

.article-header {
    padding: 15px 10px 3px 10px;
    margin: 1px 10px 1px 10px;
    border-bottom: 1px solid black;
}

.article-header .article-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
    text-shadow: 0 1px 0 rgb(200, 200, 200);
}

.article-header .article-subtitle {
    text-align: center;
    font-weight: lighter;
    font-size: 10px;
}

.article-body {
    padding: 15px 10px 10px 10px;
    text-shadow: 0 1px 0 rgb(200, 200, 200);
}

.article-box {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 15px;
    min-height: 50px;
    max-height: 50px;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid rgb(150,150,150);
    box-shadow: 0 0 2px rgb(200,200,200);
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.article-box:hover {
    max-height: 100px;
    border: 1px solid rgb(100,100,255);
    box-shadow: 0 0 5px rgb(100,100,255);
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.main-tail {
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    width: 300px;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0 1px 0 rgb(200, 200, 200);
    margin: 0 auto;
}

.article-box .article-title {
    font-weight: bolder;
    font-size: 16px;
    text-shadow: 0 1px 0 rgb(200, 200, 200);
}

.article-box .article-subtitle {
    font-size: 12px;
    text-shadow: 0 1px 0 rgb(200, 200, 200);
}

.article-box .article-summary {
    text-overflow: ellipsis;
}

.article-comment {
    border-top: 1px solid black;
    padding: 15px 10px 3px 10px;
    margin: 1px 10px 1px 10px;
}

/*文章评论*/
.article-comment #article-edit {

}

.article-comments {
    border-top: 1px solid black;
    padding: 15px 10px 3px 10px;
    margin: 1px 10px 1px 10px;
}

.article-comment .article-nologin {
    padding-left: 50px;
    font-size: 12px;
    text-shadow: 0 1px 0 rgb(200,200,200);
}

.comment-box {
    padding: 6px;
    margin: 4px 15px 4px 15px;
    background-color: rgb(250,250,250);
    border: 1px solid rgb(210,210,210);
}

.comment-box .comment-content img {
    max-height: 90px;
    max-width: 120px;
}

.reply-box {
    background-color: rgb(235,235,255);
    border: 1px dotted rgb(210,210,210);
    padding: 4px;
}

.replied {
    background-color: rgb(235,235,255);
    border: 1px dotted rgb(210,210,210);
    padding: 4px;
    cursor: pointer;
    color: dodgerblue;
}

/*消息*/
.notices-list {
    padding: 0 12px 12px 12px;
}

.notice-box {
    text-shadow: 0 1px 0 rgb(220,220,220);
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 35px;
    max-height: 50px;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid rgb(150,150,150);
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.notice-box:hover {
    background-color: rgb(235, 235, 235);
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.notice-box .notice-header {

}

.notice-box .notice-body {

}

#notice-count {
    position: fixed;
    right: 0;
    top: 60px;
}

li.active>a.thumbnail {
    border-color: blue;
}

.files-box {
    width:90px;
    list-style-type: none;
    float: left;
    margin-top: 10px;
    margin-bottom: 5px;
}

.files-box > a {
    width:85%;
    height:85%;
}

.files-box > a > img {
    max-height: 64px;
    max-width: 64px;
}

.files-box > a > div {
    white-space: nowrap;
    overflow: hidden;
}

ul.templates-icons {
    list-style:none;
    padding:2px;
}

ul.templates-icons > li {
    border: none;
    width: 46px;
    height: 46px;
}

ul.templates-icons > li img {
}

ul.templates-icons > li.usable > a.thumbnail {
    border-color: greenyellow;
}

ul.templates-icons > li.create > a.thumbnail {
    border-color: blue;
}

.input-box {
    border: 1px solid #aaaaaa;
    min-height: 22px;
    font-size: 14px;
    font-weight: bolder;
    padding: 4px;
}
