-#这个模板与content差不多，不过这个是以div作为容器
-#并且这个是自动分页
#content-field
  = render_object(partial, true, nil)
  - objects.each do |object|
    = render_object(partial, false, object)
#content-tail.main-tail{:style => 'display: none'}
  %i.spin.icon-refresh
  = t('pagination.loading')

= auto_pagination_tag2(url || request.url)
